<div class="container mt-5 text-center">
    <h4>Listado de Clientes</h4>

    <form action="">
        <div class="form-group">

            <input type="text" class="form-control" placeholder="Busque un cliente" >
          </div>

    </form>

    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="text-center">
                    <img class="card-img-top imgCliente" src="../../assets/avatar.png" alt="Card image cap">
                </div> 
                <div class="card-body">
                  <h5 class="card-title">Jhon Connor</h5>
                  <a href="#" class="card-link decoration">Editar</a>
                  <a href="#" class="card-link text-danger decoration">Desactivar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="text-center">
                    <img class="card-img-top imgCliente" src="../../assets/empleado.png" alt="Card image cap">
                </div> 
                <div class="card-body">
                  <h5 class="card-title">Jhon Connor</h5>
                  <a href="#" class="card-link decoration">Editar</a>
                  <a href="#" class="card-link text-danger decoration">Desactivar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="text-center">
                    <img class="card-img-top imgCliente" src="../../assets/avatar.png" alt="Card image cap">
                </div> 
                <div class="card-body">
                  <h5 class="card-title">Jhon Connor</h5>
                  <a href="#" class="card-link decoration">Editar</a>
                  <a href="#" class="card-link text-danger decoration">Desactivar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="text-center">
                    <img class="card-img-top imgCliente" src="../../assets/empleado.png" alt="Card image cap">
                </div> 
                <div class="card-body">
                  <h5 class="card-title">Jhon Connor</h5>
                  <a href="#" class="card-link decoration">Editar</a>
                  <a href="#" class="card-link text-danger decoration">Desactivar</a>
                </div>
            </div>
        </div>
    </div>
</div>