<div class="container mt-5">
    <form action="">

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" placeholder="Agregue el nombre">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" placeholder="Agregue el apellido">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" placeholder="Agregue un correo">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Cedula</label>
                    <input type="text" class="form-control" placeholder="Agregue una cedula">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" placeholder="Agregue Fecha de Nacimiento">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="tel" class="form-control" placeholder="Agregue un telefono">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="file" class="form-control" placeholder="Agregue su imagen">
                </div>
            </div>

           
            

        </div>

            <div class="col-sm-4 mt-3">
                <button class="btn btn-primary">Agregar</button>
            </div>
    </form>
</div>