<div class="container">
    <div class="text-center">
        <h1>Bienvenido, Ingresa tus datos</h1>   
        <img src="../../assets/logo.png" alt=""> 
    </div>

    <form [formGroup]="formularioLogin">

        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input type="email" placeholder="Ingresa tu Correo" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
          <div *ngIf="formularioLogin.controls['email'].invalid && formularioLogin.controls['email'].dirty" class="alert alert-danger" role="alert">
           <span *ngIf="formularioLogin.controls['email'].errors?.required">Correo es requerido</span> 
           <span *ngIf="formularioLogin.controls['email'].errors?.email">Correo no es Valido</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" (keyUp.enter)="ingresar()" placeholder="Ingresa tu contraseña" formControlName="password" class="form-control" id="password">
          <div *ngIf="formularioLogin.controls['password'].invalid && formularioLogin.controls['password'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioLogin.controls['password'].errors?.required">La contraseña es requerida</span> 
           </div>
        </div>
        
        <div class="text-center">
            <button type="submit" (click)=ingresar() [disabled]="!formularioLogin.valid" class="btn btn-primary">Ingresar</button>
        </div>
        
        <div *ngIf="!datosCorrectos" class="alert alert-warning" role="alert">
          {{textoError}}
        </div>

    </form>
</div>