<div class="container">
    <div class="text-center">
        <h1>Bienvenido, Ingresa tus datos</h1>   
        <img src="../../assets/logo.png" alt=""> 
    </div>

    <form [formGroup]="formularioLogin">

        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input type="email" placeholder="Ingresa tu Correo" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" placeholder="Ingresa tu contraseña" formControlName="password" class="form-control" id="password">
        </div>
        
        <div class="text-center">
            <button type="submit" (click)=ingresar() [disabled]="!formularioLogin.valid" class="btn btn-primary">Ingresar</button>
        </div>
        
     
    </form>
</div>